---
layout: default
---

<div class="home">

  <p class="intro">
    Hi!<br />
    I'm <a href="/about/">Ruben Taelman</a>, a <strong>Web</strong> <a href="/publications/">postdoctoral researcher</a> at <span itstrongprop="affiliation"><a href="http://www.ugent.be/ea/idlab/en" target="_blank">IDLab</a></span>,<br />
	with a focus on <strong>decentralization</strong>, <strong>Linked Data</strong> <strong>publishing</strong>, and <strong>querying</strong>.<br />
	<br />
	<a href="/research_goals/">My goal</a> is to make data accessible for <em>everyone</em> by providing<br />
    intelligent infrastructure and algorithms for data <strong>publication</strong> and <strong>retrieval</strong>.<br />
	<br />
    To support my research, I develop various <strong>open source</strong> JavaScript libraries such as <a href="/blog/2019/03/13/streaming-rdf-parsers/">streaming RDF parsers</a> and the <a href="/projects/comunica/">Comunica engine</a> to query <strong>Linked Data</strong> on the Web.<br />
    As this website itself contains Linked Data, you can <a href="http://query.linkeddatafragments.org/#datasources=http%3A%2F%2Ffragments.dbpedia.org%2F2016-04%2Fen&transientDatasources=https%3A%2F%2Fwww.rubensworks.net%2F&query=SELECT%20*%0AWHERE%20%7B%0A%20%20rubent%3Ame%20foaf%3Atopic_interest%20%3Finterest.%0A%20%20%3Finterest%20rdfs%3Alabel%20%3FinterestName.%0A%20%20FILTER%20LANGMATCHES(LANG(%3FinterestName)%2C%20%20%22EN%22)%0A%7D">query it <em>live</em> with Comunica</a>.<br />
    <br />
    Have a look at my <a href="/publications/">publications</a> or <a href="/projects/">projects</a><br />
    and <a href="/contact/">contact me</a> if any of those topics interest you.
  </p>
  
  <h2>Latest blog posts</h2>
  <ul class="posts">
	{% assign posts_sorted = site.posts %}
    {% for post in posts_sorted limit:2 %}
      <li>
        {% include post-listing.html
           post=post
        %}
      </li>
    {% endfor %}
  </ul>
  <span class="more"><a href="/blog/">More blog posts</a></span>
  
  <h2>Highlighted publications</h2>
  {% bibliography --query @*[_highlighted=true] %}
  <span class="more"><a href="/publications/">More publications</a></span>

  <h2>Latest publications</h2>
  {% bibliography --max 5 %}
  <span class="more"><a href="/publications/">More publications</a></span>

</div>

<script type="application/ld+json">
  {
	"@context": { "@vocab": "http://xmlns.com/foaf/0.1/" },
	"@id": "#me",
	"knows": [
	  {% for entry in site.data.knows %}
	  {
		"@id": "{{ entry[1].foaf }}",
		"@type": "Person",
		"name": "{{ entry[0] }}"
	  },
	  {% endfor %}
	  {}
	]
  }
</script>
