---
layout: project
title:  "Minecraft Modding"
start:  "December 2013"
---

<p>
  I spend a significant part of my spare time to the modding of this little game called 'Minecraft'.
  Here's a list of the most important mods I currently maintain.
</p>

<div>

  {% include minecraft-mod.html
     name="Integrated Dynamics"
     description="A mod to take full and automated control of your appliances."
     cursename="integrated-dynamics"
     githubreponame="IntegratedDynamics"
  %}

  {% include minecraft-mod.html
     name="EvilCraft"
     description="An evil mod for Minecraft."
     cursename="evilcraft"
     githubreponame="EvilCraft"
  %}

  {% include minecraft-mod.html
     name="Common Capabilities"
     description="Forge Capabilities that can be shared by multiple mods."
     cursename="commoncapabilities"
     githubreponame="CommonCapabilities"
  %}

  {% include minecraft-mod.html
     name="CyclopsCore"
     description="Minecraft coremod for EvilCraft, Integrated Dynamics and others."
     cursename="cyclopscore"
     githubreponame="CyclopsCore"
  %}

  {% include minecraft-mod.html
     name="Colossal Chests"
     description="For when regular chests are too small."
     cursename="colossalchests"
     githubreponame="ColossalChests"
  %}

  {% include minecraft-mod.html
     name="Energy Synergy"
     description="Transparent conversion of energy"
     cursename="energysynergy"
     githubreponame="EnergySynergy"
  %}

  {% include minecraft-mod.html
     name="Fluid Converters"
     description="A mod for converting fluids."
     cursename="fluidconverters"
     githubreponame="FluidConverters"
  %}

  {% include minecraft-mod.html
     name="Structured Crafting"
     description="Craft stuff in your world, automatically."
     cursename="structuredcrafting"
     githubreponame="StructuredCrafting"
  %}

</div>
