---
layout: project
title:  "Game Modification"
start:  "December 2013"
description: "Extensions and modifications to games"
weight: 9
---

<p>
  I spend some of my spare time to the modding of this little game called <em>Minecraft</em>.
  Here's a list of the most important mods I currently maintain or have been <a href="#commision">commissioned</a>.
  These mods have been downloaded by millions of people, and are actively used by thousands of players each day.
</p>

<p>
  If you enjoy any of these mods, consider supporting me on the development of these mods via <a href="https://www.patreon.com/kroeser">Patreon</a>.
</p>

<div>

  {% include minecraft-mod.html
     name="Integrated Dynamics"
     description="A mod to take full and automated control of your appliances."
     cursename="integrated-dynamics"
     githubreponame="IntegratedDynamics"
  %}

  {% include minecraft-mod.html
     name="EvilCraft"
     description="An evil mod for Minecraft."
     cursename="evilcraft"
     githubreponame="EvilCraft"
  %}

  {% include minecraft-mod.html
     name="Common Capabilities"
     description="Forge Capabilities that can be shared by multiple mods."
     cursename="commoncapabilities"
     githubreponame="CommonCapabilities"
  %}

  {% include minecraft-mod.html
     name="CyclopsCore"
     description="Minecraft coremod for EvilCraft, Integrated Dynamics and others."
     cursename="cyclopscore"
     githubreponame="CyclopsCore"
  %}

  {% include minecraft-mod.html
     name="Colossal Chests"
     description="For when regular chests are too small."
     cursename="colossalchests"
     githubreponame="ColossalChests"
  %}

  {% include minecraft-mod.html
     name="Energy Synergy"
     description="Transparent conversion of energy"
     cursename="energysynergy"
     githubreponame="EnergySynergy"
  %}

  {% include minecraft-mod.html
     name="Fluid Converters"
     description="A mod for converting fluids."
     cursename="fluidconverters"
     githubreponame="FluidConverters"
  %}

  {% include minecraft-mod.html
     name="Structured Crafting"
     description="Craft stuff in your world, automatically."
     cursename="structuredcrafting"
     githubreponame="StructuredCrafting"
  %}

  {% include minecraft-mod.html
     name="Everlasting Abilities"
     description="Discover, share and conquer abilities that stick."
     cursename="everlastingabilities"
     githubreponame="EverlastingAbilities"
  %}
  
  {% include minecraft-mod.html
     name="Everlasting Abilities - Potion Core"
     description="Potion Core addon for Everlasting Abilities."
     cursename="everlastingabilities-potioncore"
     githubreponame="EverlastingAbilities-PotionCore"
  %}

  {% include minecraft-mod.html
     name="Integrated Tunnels"
     description="Transfer other energy, items and fluids over Integrated Dynamics networks."
     cursename="integrated-tunnels"
     githubreponame="IntegratedTunnels"
  %}

  {% include minecraft-mod.html
     name="Capability Proxy"
     description="Access block capabilities from multiple sides."
     cursename="capabilityproxy"
     githubreponame="CapabilityProxy"
  %}

  {% include minecraft-mod.html
     name="Energetic Sheep"
     description="Sheep that generate energy."
     cursename="energeticsheep"
     githubreponame="EnergeticSheep"
  %}

  {% include minecraft-mod.html
     name="Integrated REST"
     description="Expose Integrated Dynamics networks as a REST API."
     cursename="integrated-rest"
     githubreponame="IntegratedRest"
  %}

</div>
<br />
<div>
	<h2 id="commision">Commission a Mod</h2>
	
	If you want to see a mod developed, but can't do this yourself for whatever reason,
	I can develop the mod for you for a small price <em>(example: <a href="https://minecraft.curseforge.com/projects/everlastingabilities-potioncore">Everlasting Abilities - Potion Core</a>)</em>.
	Feel free to <a href="mailto:rubensworks@gmail.com">send me a mail</a> or <a href="https://discord.gg/9yDxubB">contact me (kroeser) on Discord</a> with a brief description of your desired mod,
	and I will reply with a work and price estimate if I'm able to develop your mod.<br /><br />
	
	<strong>Default agreements:</strong>
	<ul>
		<li>Mod will be open-source on GitHub. (you will be credited as commissioner)</li>
		<li>Mod will be available for everyone on CurseForge. (you will be credited as commissioner)</li>
		<li>Bugs will be fixed as soon as possible after they are reported.</li>
		<li>New features that are needed in the future are not included.</li>
		<li>Updates for new Minecraft versions are not included. <em>(If a significant number of people are using the mod, I may decide to do update this anyways)</em></li>
	</ul>
	
	I am flexible with these agreements, and I'm open to discuss alternatives.
</div>
