---
layout: project
title:  "Game Modification"
start:  "December 2013"
description: "Extensions and modifications to games"
---

<p>
  I spend a significant part of my spare time to the modding of this little game called <em>Minecraft</em>.
  Here's a list of the most important mods I currently maintain.
  These mods have been downloaded by millions of people, and are actively used by thousands of players each day.
</p>

<div>

  {% include minecraft-mod.html
     name="Integrated Dynamics"
     description="A mod to take full and automated control of your appliances."
     cursename="integrated-dynamics"
     githubreponame="IntegratedDynamics"
  %}

  {% include minecraft-mod.html
     name="EvilCraft"
     description="An evil mod for Minecraft."
     cursename="evilcraft"
     githubreponame="EvilCraft"
  %}

  {% include minecraft-mod.html
     name="Common Capabilities"
     description="Forge Capabilities that can be shared by multiple mods."
     cursename="commoncapabilities"
     githubreponame="CommonCapabilities"
  %}

  {% include minecraft-mod.html
     name="CyclopsCore"
     description="Minecraft coremod for EvilCraft, Integrated Dynamics and others."
     cursename="cyclopscore"
     githubreponame="CyclopsCore"
  %}

  {% include minecraft-mod.html
     name="Colossal Chests"
     description="For when regular chests are too small."
     cursename="colossalchests"
     githubreponame="ColossalChests"
  %}

  {% include minecraft-mod.html
     name="Energy Synergy"
     description="Transparent conversion of energy"
     cursename="energysynergy"
     githubreponame="EnergySynergy"
  %}

  {% include minecraft-mod.html
     name="Fluid Converters"
     description="A mod for converting fluids."
     cursename="fluidconverters"
     githubreponame="FluidConverters"
  %}

  {% include minecraft-mod.html
     name="Structured Crafting"
     description="Craft stuff in your world, automatically."
     cursename="structuredcrafting"
     githubreponame="StructuredCrafting"
  %}

  {% include minecraft-mod.html
     name="Everlasting Abilities"
     description="Discover, share and conquer abilities that stick."
     cursename="everlastingabilities"
     githubreponame="EverlastingAbilities"
  %}

  {% include minecraft-mod.html
     name="Integrated Tunnels"
     description="Transfer other energy, items and fluids over Integrated Dynamics networks."
     cursename="integrated-tunnels"
     githubreponame="IntegratedTunnels"
  %}

  {% include minecraft-mod.html
     name="Capability Proxy"
     description="Access block capabilities from multiple sides."
     cursename="capabilityproxy"
     githubreponame="CapabilityProxy"
  %}

  {% include minecraft-mod.html
     name="Energetic Sheep"
     description="Sheep that generate energy."
     cursename="energeticsheep"
     githubreponame="EnergeticSheep"
  %}

  {% include minecraft-mod.html
     name="Integrated REST"
     description="Expose Integrated Dynamics networks as a REST API."
     cursename="integrated-rest"
     githubreponame="IntegratedRest"
  %}

</div>
