---
layout: project
title:  "RDF-JS"
start:  "October 2017"
description: "RDF software implemented in JavaScript"
weight: 5
---

<p>	
  During my PhD, I have developed and contributed to a range of open-source JavaScript software related to my research.
  All of these projects are compatible with the <a href="http://rdf.js.org">RDF-JS</a> specification as defined by the W3C community group,
  which aims for interoperability between RDF-related JavaScript software.
  The most notable projects are listed below.
</p>

<div>
	
    {% include rdfjs-software.html
       name="Comunica"
       description="Comunica is a highly modular and flexible meta query engine for the Web."
       npmname="@comunica/actor-init-sparql"
       githubreponame="comunica/comunica"
    %}
    
    {% include rdfjs-software.html
       name="JSON-LD Streaming parser"
       description="A fast and lightweight streaming JSON-LD parser for JavaScript."
       npmname="jsonld-streaming-parser"
       githubreponame="rubensworks/jsonld-streaming-parser.js"
    %}
	
    {% include rdfjs-software.html
       name="RDF/XML Streaming parser"
       description="A highly efficient streaming RDF/XML parser."
       npmname="rdfxml-streaming-parser"
       githubreponame="rubensworks/rdfxml-streaming-parser.js"
    %}
    
    {% include rdfjs-software.html
       name="RDFa Streaming parser"
       description="A highly efficient streaming RDFa parser."
       npmname="rdfa-streaming-parser"
       githubreponame="rubensworks/rdfa-streaming-parser.js"
    %}
	
    {% include rdfjs-software.html
       name="JSON-LD context parser"
       description="A generic JSON-LD context parser."
       npmname="jsonld-context-parser"
       githubreponame="rubensworks/jsonld-context-parser.js"
    %}
	
    {% include rdfjs-software.html
       name="RDF Test Suite"
       description="Executes the RDF and SPARQL test suites."
       npmname="rdf-test-suite"
       githubreponame="rubensworks/rdf-test-suite.js"
    %}
    
    {% include rdfjs-software.html
       name="GraphQL-LD"
       description="Linked Data Querying with GraphQL ."
       npmname="graphql-ld"
       githubreponame="rubensworks/GraphQL-LD.js"
    %}
	
    {% include rdfjs-software.html
       name="RDF Isomorphic"
       description="Determines if two RDF graphs are isomorphic."
       npmname="rdf-isomorphic"
       githubreponame="rubensworks/rdf-isomorphic.js"
    %}
	
    {% include rdfjs-software.html
       name="GraphQL to SPARQL"
       description="Converts GraphQL queries to SPARQL queries."
       npmname="graphql-to-sparql"
       githubreponame="rubensworks/graphql-to-sparql.js"
    %}
	
    {% include rdfjs-software.html
       name="Jest RDF"
       description="Jest utilities for RDF(JS)"
       npmname="jest-rdf"
       githubreponame="rubensworks/jest-rdf"
    %}
	
    {% include rdfjs-software.html
       name="RDF Object"
       description="Loads RDF as JSON objects."
       npmname="rdf-object"
       githubreponame="rubensworks/rdf-object.js"
    %}
	
    {% include rdfjs-software.html
       name="Fetch SPARQL endpoint"
       description="A simple, lightweight module to send queries to SPARQL endpoints and retrieve their results in a streaming fashion."
       npmname="fetch-sparql-endpoint"
       githubreponame="rubensworks/fetch-sparql-endpoint.js"
    %}
	
    {% include rdfjs-software.html
       name="SPARQL/XML Parser"
       description="Parses SPARQL XML query results."
       npmname="sparqlxml-parse"
       githubreponame="rubensworks/sparqlxml-parse.js"
    %}
	
    {% include rdfjs-software.html
       name="SPARQL/JSON Parser"
       description="Parses SPARQL JSON query results."
       npmname="sparqljson-parse"
       githubreponame="rubensworks/sparqljson-parse.js"
    %}
	
    {% include rdfjs-software.html
       name="RDF Quad"
       description="A convenience constructor for RDF quads."
       npmname="rdf-quad"
       githubreponame="rubensworks/rdf-quad.js"
    %}
	
    {% include rdfjs-software.html
       name="RDF String"
       description="Convenience functions for creating and serializing RDF terms and quads."
       npmname="rdf-string"
       githubreponame="rubensworks/rdf-string.js"
    %}
    
    {% include rdfjs-software.html
       name="RDF Store Stream"
       description="Create an RDF store from an RDF stream."
       npmname="rdf-store-stream"
       githubreponame="rubensworks/rdf-store-stream.js"
    %}
    
    {% include rdfjs-software.html
       name="RDF Literal"
       description="Translates between RDF literals and JavaScript primitives."
       npmname="rdf-literal"
       githubreponame="rubensworks/rdf-literal.js"
    %}
    
    {% include rdfjs-software.html
       name="RDF Parse"
       description="Parses RDF from any serialization."
       npmname="rdf-parse"
       githubreponame="rubensworks/rdf-parse.js"
    %}

    {% include rdfjs-software.html
       name="RDF Dereference"
       description="Dereference any URL for its RDF contents."
       npmname="rdf-dereference"
       githubreponame="rubensworks/rdf-dereference.js"
    %}

    {% include rdfjs-software.html
       name="Linked Data Describer"
       description="Serves Linked Data documents via content negotiation over various data sources."
       npmname="linked-data-describer"
       githubreponame="rubensworks/linked-data-describer.js"
    %}
	
</div>
