<header class="site-header">

  <div class="wrapper">

    <div class="site-title-wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div class="social-media-list-wrapper">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li>
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
        {% endif %}

        {% if site.googleplus_username %}
        <li>
          {% include icon-googleplus.html username=site.googleplus_username %}
        </li>
        {% endif %}

        {% if site.googlescholar_username %}
        <li>
          {% include icon-googlescholar.html username=site.googlescholar_username %}
        </li>
        {% endif %}
      </ul>
    </div>

  </div>

</header>

<header class="site-nav-header">
  <div class="wrapper">
    <nav class="site-nav">
      <div class="trigger">
        <a href="{{ site.baseurl }}/" class="rw-icon">
          <img src="{{ site.baseurl }}/img/rw_logo.png" alt="Rubens Works" />
        </a>
        {% for my_page in site.pages %}
        {% if my_page.title and my_page.show_in_nav != false %}
        <a class="page-link{% if p.url == page.url %} active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
