<header class="site-header">

  <div id="me" class="wrapper" typeof="foaf:Person" resource="{{ "/#me" | prepend: site.baseurl | prepend: site.url }}">

    <div class="site-title-wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <meta property="foaf:name" content="{{ site.title }}"/>
      <meta property="foaf:logo" resource="{{ "/img/ruben.jpg" | prepend: site.baseurl | prepend: site.url }}"/>
      <meta property="foaf:img" resource="{{ "/img/ruben.jpg" | prepend: site.baseurl | prepend: site.url }}"/>
      <meta property="foaf:homepage" resource="{{ site.baseurl | prepend: site.url }}"/>
      <meta property="foaf:workplaceHomepage" resource="http://idlab.ugent.be/"/>
      <meta property="foaf:workplaceHomepage" resource="http://www.ugent.be/"/>
      <meta property="foaf:workplaceHomepage" resource="http://www.imec-int.com/"/>
      <meta property="org:memberOf" resource="http://idlab.technology/#organization"/>
      <meta property="org:memberOf" resource="http://dbpedia.org/resource/Ghent_University"/>
      <meta property="org:memberOf" resource="http://dbpedia.org/resource/IMEC"/>
      <meta property="owl:sameAs" resource="https://linkedsoftwaredependencies.org/users/npm/rubensworks"/>
      <meta property="owl:sameAs" resource="orcid.org/0000-0001-5118-256X"/>
      <meta property="owl:sameAs" resource="http://www.rubensworks.net/"/>
      
      <span rel="cert:key">
          <meta rel="rdf:type" resource="cert:RSAPublicKey"/>
          <meta property="cert:modulus" content="DDC6E0C40B8BBB73B881E67BDA5E66DF67DDB9B3895F73763CCB87FEE34AD51EDC64B8B20300332BFC3F936FF887FF7456506523CC4D556320FFA321B7C5C9126761E0D245E9F137365B12AF64F04C5CC4CE8206E277A18579EE4366D4F009EEF76249EC6D4C10D39CFC7721C26FC38D8BBFDFDA6E1AE59A902C3FCEC574CE1B2042DB3DB1595CF9A81A1C8F4413D7D4D195CF8740D0618F595AB032C175F4D1F82B525A22EBA4710EF0DF25AB6745E7D008CF17B59A226DEA17D0A376346A1CDE6BBC31B7AED778E86C2A18C1F80E26D6B84F4368CA8A45238BB451BD6AB370D614F6A4BCD7977A46ADB11C34F2E6C5BB2A66161FC1463DC86919285B4B1FA1"/>
          <meta property="cert:exponent" content="65537" datatype="xsd:integer"/>
      </span>
    </div>

    <div class="social-media-list-wrapper">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li>
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
        {% endif %}

        {% if site.googlescholar_username %}
        <li>
          {% include icon-googlescholar.html username=site.googlescholar_username %}
        </li>
        {% endif %}
      </ul>
    </div>

  </div>

</header>

<div class="site-nav-header">
  <div class="wrapper">
    <nav class="site-nav">
      <div class="trigger">
        <a href="{{ site.baseurl }}/" class="rt-icon">
          <img src="{{ site.baseurl }}/img/ruben.jpg" alt="Ruben Taelman" />
        </a>
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for my_page in sorted_pages %}
        {% if my_page.title and my_page.show_in_nav != false %}
        <a class="page-link{% if p.url == page.url %} active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</div>
