<header class="site-header">

  <div id="me" class="wrapper" typeof="foaf:Person" resource="{{ "/#me" | prepend: site.baseurl | prepend: site.url }}">

    <div class="site-title-wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <meta property="foaf:name" content="{{ site.title }}"/>
      <meta property="foaf:logo" resource="{{ "/img/favicon.png" | prepend: site.baseurl | prepend: site.url }}"/>
      <meta property="foaf:homepage" resource="{{ site.baseurl | prepend: site.url }}"/>
      <meta property="foaf:workplaceHomepage" resource="http://idlab.ugent.be/"/>
      <meta property="foaf:workplaceHomepage" resource="http://www.ugent.be/"/>
      <meta property="foaf:workplaceHomepage" resource="http://www.imec-int.com/"/>
      <meta property="org:memberOf" resource="http://idlab.technology/#organization"/>
      <meta property="org:memberOf" resource="http://dbpedia.org/resource/Ghent_University"/>
      <meta property="org:memberOf" resource="http://dbpedia.org/resource/IMEC"/>
      <meta property="owl:sameAs" resource="https://linkedsoftwaredependencies.org/users/npm/rubensworks"/>
    </div>

    <div class="social-media-list-wrapper">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li>
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
        {% endif %}

        {% if site.googleplus_username %}
        <li>
          {% include icon-googleplus.html username=site.googleplus_username %}
        </li>
        {% endif %}

        {% if site.googlescholar_username %}
        <li>
          {% include icon-googlescholar.html username=site.googlescholar_username %}
        </li>
        {% endif %}
      </ul>
    </div>

  </div>

</header>

<div class="site-nav-header">
  <div class="wrapper">
    <nav class="site-nav">
      <div class="trigger">
        <a href="{{ site.baseurl }}/" class="rw-icon">
          <img src="{{ site.baseurl }}/img/rw_logo.png" alt="Rubens Works" />
        </a>
        {% for my_page in site.pages %}
        {% if my_page.title and my_page.show_in_nav != false %}
        <a class="page-link{% if p.url == page.url %} active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
        {% endfor %}
        <a class="page-link" href="mailto:rubensworks@gmail.com">Contact</a>
      </div>
    </nav>
  </div>
</div>
