<div class="mcmod-widget">
<h3>{{ include.name }}</h3>
<p class="description">
  {{ include.description }}
</p>

<a href="http://minecraft.curseforge.com/projects/{{ include.cursename }}/files/latest" target="_blank">Download latest</a>
<a href="http://minecraft.curseforge.com/projects/{{ include.cursename }}/files" target="_blank">All downloads</a>
<a href="https://bintray.com/cyclopsmc/dev/{{ include.githubreponame }}" target="_blank">Dev builds</a>
<a href="https://github.com/CyclopsMC/{{ include.githubreponame }}" target="_blank">Source</a>

</div>
