<div class="mcmod-widget">
<h3><a href="http://minecraft.curseforge.com/projects/{{ include.cursename }}/" target="_blank">{{ include.name }}</a></h3>
<p class="description">
  {{ include.description }}
</p>

<a href="http://minecraft.curseforge.com/projects/{{ include.cursename }}/files/latest" target="_blank" class="download">Download latest</a>
<a href="http://minecraft.curseforge.com/projects/{{ include.cursename }}/files" target="_blank" class="download">All downloads</a>
<a href="https://bintray.com/cyclopsmc/dev/{{ include.githubreponame }}" target="_blank" class="download">Dev builds</a>
<a href="https://github.com/CyclopsMC/{{ include.githubreponame }}" target="_blank" class="download">Source</a>

</div>
