/**
 * Site header
 */
.site-header {
    border-top: 10px solid $grey-color-dark;
    border-bottom: 1px solid $blue-color;
    min-height: 56px;
    background-color: $blue-color-light;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 30px;
    font-weight: 450;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-title-wrapper {
    float: right;
    width: 100%;
    text-align: center;
}

.social-media-list-wrapper {
    float: right;
    width: 100%;
    text-align: center;
}

.social-media-list li {
    display: inline;
    padding-right: 10px;
    a {
        color: $grey-color-light;
    }
    a:hover {
        text-decoration: none;
    }
}

.site-nav-header {
    background-color: $grey-color-dark;
    border-bottom: 1px solid $blue-color;
}

.rw-icon {
    display: inline-block;
    margin: -5px 10px;
    vertical-align: middle;
    margin-bottom: 0px;
    border: solid 2px black;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;

    width: $rw-icon-size;
    height: $rw-icon-size;
    border-radius: ($rw-icon-size / 2 + 4);
    -webkit-border-radius: ($rw-icon-size / 2 + 4);
    -moz-border-radius: ($rw-icon-size / 2 + 4);
    background: url(/img/rw_logo.png) no-repeat;
    background-size: $rw-icon-size $rw-icon-size;
    background-color: black;
    background-position: center;
    img {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.rw-icon:hover {
    border: solid 2px $blue-color-dark;
    background-size: ($rw-icon-size - 5) ($rw-icon-size - 5);
}

.site-nav {
    float: left;
    line-height: 56px;
    color: white;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-light;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 2px solid $blue-color-dark;
    padding: $spacing-unit 0;
    background-color: $grey-color-dark;
    color: $grey-color-light;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: darken($grey-color-light, 15%);
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Projects
 */

.mcmod-widget {
    background-color: $grey-color-light;
    width: 46%;
    margin: 1%;
    padding: 5px;
    font-size: 12px;
    float: left;

    .description {
        height: 40px;
    }

    h3 a {
        color: $grey-color-dark;
    }

    a.download {
        padding: 5px;
        background-color: $grey-color-dark;
        color: white;
    }
    a.download:hover {
        background-color: $grey-color;
        text-decoration: none;
    }
}

/**
 * Publications
 */

.bibliography {
    list-style: none;
    .details {
        display: none;
    }
    .publication {
        margin-bottom: 10px;
        .title {
            font-weight: bold;
        }
        .authors {
            font-style: italic;
        }
        .in {
            font-size: 12px;
        }
        .type {
            display: block;
            font-size: 10px;
            font-weight: bold;
            float: right;
            padding: 2px;
            width: 80px;
            text-align: center;
            background-color: $grey-color-dark;
            color: white;
        }
    }
}
