/**
 * Site header
 */
.site-header {
    border-top: 10px solid $grey-color-dark;
    border-bottom: 1px solid $blue-color;
    min-height: 56px;
    background-color: $blue-color-light;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 35px;
    font-weight: 450;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-title-wrapper {
    float: right;
    width: 100%;
    text-align: center;
}

.social-media-list-wrapper {
    float: right;
    width: 100%;
    text-align: center;
}

.social-media-list li {
    display: inline;
    padding-right: 10px;
    a {
        color: $grey-color-light;
    }
    a:hover {
        text-decoration: none;
    }
}

.site-nav-header {
    background-color: $grey-color-dark;
    border-bottom: 1px solid $blue-color;
}

.rw-icon {
    display: inline-block;
    margin: -5px 10px;
    vertical-align: middle;
    margin-bottom: 0px;
    border: solid 2px black;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;

    width: $rw-icon-size;
    height: $rw-icon-size;
    border-radius: ($rw-icon-size / 2 + 4);
    -webkit-border-radius: ($rw-icon-size / 2 + 4);
    -moz-border-radius: ($rw-icon-size / 2 + 4);
    background: url(/img/rw_logo.png) no-repeat;
    background-size: $rw-icon-size $rw-icon-size;
    background-color: black;
    background-position: center;
    img {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.rw-icon:hover {
    border: solid 2px $blue-color-dark;
    background-size: ($rw-icon-size - 5) ($rw-icon-size - 5);
}

.site-nav {
    float: left;
    line-height: 56px;
    color: white;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-light;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        line-height: 56px;

        .rw-icon {
            display: none;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 2px solid $blue-color-dark;
    padding: $spacing-unit 0;
    background-color: $grey-color-dark;
    color: $grey-color-light;
}

.footer-heading {
    color: $grey-color-light;
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: darken($grey-color-light, 15%);
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background-color: $background-color;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    font-style: italic;
}

.post-link {
    display: block;
    font-size: 24px;
}

.intro {
    font-size: 18px;
    font-weight: 800;
    margin: 10px 30px 40px 30px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid lighten($grey-color, 40%);
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-subtitle {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 1;
    margin-left: 15px;
    font-style: italic;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
}

.post-abstract {
  font-weight: bold;
  hyphens: auto;
  text-align: justify;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.posts {
    list-style: none;
    .post-listing {
        display: table-row;
        .title {
            font-size: 18px;
            color: $blue-color-darker;
            font-weight: bold;
        }
        .sub-title {
            color: $blue-color-darker;
            letter-spacing: -1px;
            line-height: 1;
            margin-left: 5px;
            font-style: italic;
        }
        .post-meta {
            font-size: 12px;
            color: $grey-color;
        }
        .post-excerpt {
            font-size: 12px;
        }
        .feature-img {
            width: 150px;
            margin-right: 10px;
            
            border: solid 2px darken($blue-color-darker, 10%);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
        }
        .feature-img-placeholder {
            display: table-cell;
            width: 170px;
            vertical-align: top;
            padding-bottom: 10px;
        }
        .post-content {
            display: table-cell;
            vertical-align: top;
            padding-bottom: 10px;
        }
    }
}

// Figures
figure {
    padding: 1em 2em;
    margin: 1em 0;

    figcaption {
      margin: 1em 0 .5em;
      
      .label {
          float: left;
          font-weight: bold;
          margin-right: .5em;
      }
      p {
          margin: 0;
      }
    }
}

/**
 * Projects
 */

.projects {
    list-style: none;
	
	a {
		font-weight: bold;
	}
}

.duration {
    font-style: italic;
    font-size: 12px;
}

.mcmod-widget, .rdfjs-widget {
    background-color: $grey-color-light;
    width: 46%;
    margin: 1%;
    padding: 5px;
    font-size: 12px;
    float: left;

    @include media-query($on-palm) {
        width: 95%;
    }

    .description {
        height: 40px;
    }

    h3 a {
        color: $grey-color-dark;
    }

    a.download {
        padding: 5px;
        background-color: $grey-color-dark;
        color: white;
    }
    a.download:hover {
        background-color: $grey-color;
        text-decoration: none;
    }
}

.screenshot {
    margin: 5px;
    width: 500px;
}

/**
 * Publications
 */

.bibliography {
    list-style: none;
    .details {
        display: none;
    }
    .publication {
        margin-bottom: 10px;
        .title {
            font-weight: bold;
        }
        .authors {
            .author {
                color: $grey-color-dark;
            }
            font-style: italic;
        }
        .in {
            font-size: 12px;
            color: $grey-color;
        }
        .type {
            display: block;
            font-size: 10px;
            font-weight: bold;
            float: right;
            padding: 2px;
			margin: 2px;
            width: 85px;
            text-align: center;
            background-color: $grey-color-dark;
            color: white;
        }
    }
}

/**
 * Publication
 */

.publication {
    .type {
        display: block;
        font-size: 10px;
        font-weight: bold;
        float: right;
        padding: 2px;
        width: 80px;
        text-align: center;
        background-color: $grey-color-dark;
        color: white;
    }
    .details {
        margin-left: 15px;
        .authors {
            .author {
                color: $grey-color-dark;
            }
            font-style: italic;
        }
        .in {
            font-size: 12px;
            color: $grey-color;
        }
    }
    .abstract {
        margin-top: 20px;
        text-align: justify;
    }
    .links {
        text-align: right;
        font-size: 12px;
        word-spacing: 7px;
        .bibtex {
            text-align: left;
        }
    }
}

.toggle {
    display: inline;
    cursor:pointer;

    [type=checkbox] {
        display:none;
    }

    .content {
        display: none;
    }

    [type=checkbox]:checked ~ label {
        text-decoration: underline;
    }

    label {
        color: $brand-color;
    }

    label:hover {
        color: $text-color;
        text-decoration: underline;
        cursor: pointer;
    }

    [type=checkbox]:checked ~ label ~ .content {
        display: block;
    }
}
