---
---

<div class="publication">
  <span class="type">{{ entry._type }}</span>
  <a href="/publications/{{ entry.key }}" class="title" id="{{ entry.key }}">{{ entry.title }}</a><br />
  {% assign first = true %}
  <span class="authors">{% for author in entry.author_array %}{% if first == false %},{% endif %}
  {% assign first = false %}
  {{ author.first }} {{ author.prefix }} {{ author.last }}{% endfor %}</span><br />
  {% if entry.booktitle %}
  <span class="in">In {{ entry.booktitle }}</span>
  {% endif %}
</div>