---
layout: default
show_in_nav: false
---
<div class="publication" itemscope itemtype="http://schema.org/ScholarlyArticle" typeof="schema:ScholarlyArticle schema:CreativeWork" about="{{ page.url }}#publication">
  <span class="type">{{ page.entry._type }}</span>
  <h1 itemprop="name" property="schema:name">{{ page.entry.title }}</h1>
  <p class="details">
    <span class="authors">{% for author in page.entry.author_array %}{% if first == false %},{% endif %}
    {% assign first = false %}
    {% capture name %}{{ author.first }} {{ author.prefix }} {{ author.last }}{% endcapture %}
    {% assign name = name | replace: "  ", " " %}
    {% assign knows = site.data.knows[name] %}
      {% if knows %}
      <a class="author" itemprop="author" rel="foaf:maker schema:creator schema:author" href="{{ knows.url }}" resource="{{ knows.foaf }}" target="_blank">{{ name }}</a>
      {% else %}
  	<span itemprop="author">{{ name }}</span>
  	{% endif %}
    {% endfor %}</span><br />
    {% if page.entry.booktitle %}
    <span class="in" rel="schema:isPartOf">In {{ page.entry.booktitle }} ({{ page.entry.year }})</span>
    {% endif %}
    {% if page.entry.journal %}
    <span class="in" rel="schema:isPartOf">In {{ page.entry.journal }} ({{ page.entry.year }})</span>
    {% endif %}
  </p>

  <p class="abstract" rel="schema:description">{{ page.entry.abstract }}</p>
  <hr />


  <div class="links">
    {% if page.entry.url %}
    <a rel="schema:associatedMedia" href="{{page.entry.url}}" target="_blank">Article</a>
    {% endif %}
    {% if page.entry._poster %}
    <a rel="schema:associatedMedia" href="{{page.entry._poster}}" target="_blank">Poster</a>
    {% endif %}
    {% if page.entry._slides %}
    <a rel="schema:associatedMedia" href="{{page.entry._slides}}" target="_blank">Slides</a>
    {% endif %}
    {% if page.entry._video %}
    <a rel="schema:associatedMedia" href="{{page.entry._video}}" target="_blank">Video</a>
    {% endif %}
    <div class="toggle">
      <input type="checkbox" id="checkbox-bibtex" name="checkbox-bibtex" />
      <label for="checkbox-bibtex">BibTeX</label><br />
      <pre class="bibtex content">{{ page.entry.bibtex }}</pre>
    </div>
  </div>

</div>
