<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body prefix="rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns# foaf: http://xmlns.com/foaf/0.1/ owl: http://www.w3.org/2002/07/owl# xsd: http://www.w3.org/2001/XMLSchema# org: http://www.w3.org/ns/org# cert: http://www.w3.org/ns/auth/cert#">

    {% include google-analytics.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        
        {% if page.comments %}
        {% include comments.html %}
        {% endif %}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
