---
layout: default
---
<script src="https://embed.runkit.com"></script>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 class="post-subtitle" itemprop="alternativeHeadline">{{ page.subtitle }}</h2>
    {% endif %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    let preamble = document.getElementById('demo-nodejs-preamble');
    for (let snippet of document.getElementsByClassName('demo-nodejs')) {
      //snippet.style.display = 'none';
      let newNode = document.createElement('div');
      let notebook = RunKit.createNotebook({
        element: newNode,
        source: snippet.textContent,
        preamble: preamble && preamble.textContent,
      });
      snippet.innerHTML = '';
      snippet.appendChild(newNode);
      //snippet.parentNode.replaceChild(newNode, snippet);
    }
  }, false);
</script>
